.BodyHome {
  text-align: center;
  background-color: #1c04bd;
}

.header-background {
  background-color: #1c04bd;
  color:#1c04bd;
}

.background-title {
  color: white;
}

.Home {
  background-color: #1c04bd;
}